!! URxvt configurations.
!! Colorscheme
! special
*.foreground:   #c5c8c6
!*.background:   #1d1f21
*.background:	#222222
*.cursorColor:  #c5c8c6

! black
*.color0:       #1d1f21
*.color8:       #969896

! red
*.color1:       #cc342b
*.color9:       #cc342b

! green
*.color2:       #198844
*.color10:      #198844

! yellow
*.color3:       #fba922
*.color11:      #fba922

! blue
*.color4:       #3971ed
*.color12:      #3971ed

! magenta
*.color5:       #a36ac7
*.color13:      #a36ac7

! cyan
*.color6:       #3971ed
*.color14:      #3971ed

! white
*.color7:       #c5c8c6
*.color15:      #ffffff


!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 25
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 2048
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! URvxt Font
URxvt.font: xft:Fira Code Retina:style=Retina:pixelsize=12
URxvt.boldFont: xft:Fira Code:style=Bold:pixelsize:12


!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,font-size
URxvt.keysum.C-Up: font-size:increase
URxvt.keysum.C-Down: font-size:decrease 
! URxvt.copyCommand: xclip -i -selection clipboard
! URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.C-S-c: perl:clipboard:copy
URxvt.keysym.C-S-v: perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! URxvt.keysym.M-Escape: perl:keyboard-select:activate
! URxvt.keysym.M-s: perl:keyboard-select:search
! URxvt.keysym.M-u: perl:url-select:select_next
! URxvt.urlLauncher: firefox
! URxvt.underlineURLs: true
! URxvt.urlButton: 1
