
!! URXVT CONFIGURATIONS
!! Colorscheme
! special
*.foreground:   #16b9c3
*.background:   #000b1e
*.cursorColor:  #16b9c3

! black
*.color0:       #040005
*.color8:       #040005

! red
*.color1:       #6E0163
*.color9:       #6E0163

! green
*.color2:       #BD0354
*.color10:      #BD0354

! yellow
*.color3:       #970266
*.color11:      #970266

! blue
*.color4:       #651993
*.color12:      #651993

! magenta
*.color5:       #4A3DBF
*.color13:      #4A3DBF

! cyan
*.color6:       #962098
*.color14:      #962098

! white
*.color7:       #cf9bd4
*.color15:      #cf9bd4


!! URxvt Appearance
URxvt.letterSpace: 0
URxvt.lineSpace: 0
URxvt.geometry: 92x24
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.cursorUnderline: false
URxvt.saveline: 5120
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.urgentOnBell: true
URxvt.depth: 24
URxvt.iso14755: false

!! URvxt Font
URxvt.font: xft:Fira Code Retina:style=Retina:pixelsize=12
URxvt.boldFont: xft:Fira Code:style=Bold:pixelsize:12


!!  Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,font-size
!URxvt.keysum.Control-equal: font-size:bigger
!URxvt.keysum.Control-minus: font-size:smaller
!URxvt.keysum.Control-0: font-size:reset
!URxvt.keysum.C-question: font-size:show
URxvt.font-size.step: 2
!URxvt.copyCommand: xclip -i -selection clipboard
!URxvt.pasteCommand: xclip -o -selection clipboard
URxvt.keysym.C-S-c: perl:clipboard:copy
URxvt.keysym.C-S-v: perl:clipboard:paste
! URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
! URxvt.keysym.M-Escape: perl:keyboard-select:activate
! URxvt.keysym.M-s: perl:keyboard-select:search
! URxvt.keysym.M-u: perl:url-select:select_next
URxvt.urlLauncher: firefox
URxvt.underlineURLs: true
URxvt.urlButton: 1
